.h1 {
  border-color: aqua;
  border: solid 4px blue;
}

.category {
  text-align: center;
  justify-content: center;
  border: solid 1px silver;
  padding: 5px;
  margin: 5px;
}

.trivia-question {
  text-align: center;
}

.questions {
  display: grid;
  grid-template-rows: repeat(10,5fr);
  grid-template-columns: repeat(4,5fr);
}
.category-grid {
  display: grid;
  grid-template-rows: repeat(10,5fr);
  grid-template-columns: repeat(4,5fr);
}